@font-face {
    font-family: 'Jeju';
    src: url('./fonts/JejuMyeongjo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Joan';
    src: url('./Joan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Jeju'; /* Apply the font to the body */
    align-items: center;
    background-color: #F8F9F1;
}
/*HEADER*/
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F8F9F1;
    color: #fff;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100px;
    z-index: 1000;
}

.navbar {
    margin-left: 50px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-family: "Jeju";
    font-size: 30px;
}

.logo {
    margin-left: 100px;
    height: 100px;
}

#chunk {
    height:100px;
}

#small_chunk {
    height:50px;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #155B0E;
    height: 450px;
    width: 80%;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:80px;
    
}

#banner-image {
    height: 450px;
    width: 45%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.banner-content {
    height: 450px;
    width: 55%;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 40px;
    color: white;
    font-family: 'Jeju';
    line-height: 1.5;
    border-radius: 20px;
}

#services-block {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.services-col {
    height: 400px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #EAEADD;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

.services-col:hover {
    background-color: #EFEFE2;
}

.services-title {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 30px;
    font-family: 'Joan';
    text-align: center;
}

.services-text {
    font-size: 25px;
    font-family: 'Jeju';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    line-height:1.2;
}

.services-icon {
    margin-top: 15px;
    height: 80px;
}

#about-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-col-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
}

.about-col-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: left;
}

.about-text {
    width: 50%;
    font-size: 25px;
    line-height: 1.5;
    font-family: 'Jeju';
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.title {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 30px;
    font-family: 'Joan';
    text-align: center;
}

.title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

.image-container {
    margin-top: 10px;
    position: relative;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
}

.about-image {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);}

.overlay-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    object-fit: cover;
}

.caption {
    font-size: 20px;
    font-family: 'Jeju';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.banner-title {
    font-size: 50px;
    font-family: 'Joan';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #155B0E;
    height: 450px;
    width: 50%;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:80px;
}

.book-title {
    font-size: 40px;
    font-family: 'Joan';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:white;
}

.book-big-text {
    font-size: 35px;
    font-family: 'Jeju';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    line-height:1.2;
    color:lightgreen;
    text-decoration: none;
}

.book-text {
    width: 50%;
    font-size: 25px;
    font-family: 'Jeju';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    line-height:1.2;
    color:white;
}

#contact {
    width: 80%;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #155B0E;
    border-radius: 20px;
    margin-bottom: 20px;
}

#instagram {
    height:55px;
}

.contact-text {
    font-size: 30px;
    font-family: 'Jeju';
    text-align: center;
    color:white;
    text-decoration: none;
}